@media (max-width: 768px){

    .menu-toggle{
        display: flex;
        z-index: 10;
    }

    .nav-list{
        display: none; /*Menü vom Desktop ausblenden*/
        flex-direction: column;
        background-color: #03A696;
        position: absolute;
        top: 49px;
        right: 0;
        left: 0;
        padding: 20px;
        z-index: 9;
    }

    .nav-list .name{
        display: none;
    }

    .nav-list li{
        text-align: center;
        margin-bottom: 10px;
    }

    .nav-list li:last-child{
        border: none;
    }

    .nav-list.active{
        display: block;
        background-color: #03A696;
    }

    .header-image {
        position: relative;
        width: 100%;
        height: 600px;
        display: flex;
        align-items: center;
    }
    .header-image p {
        width: 100%;
        font-size: 1.3em;
        margin: 10px 0;
        line-height: 1.4;
    }
    .background-img {
        background-image: url(../img/header2.jpg);
        filter: brightness(0.4);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 1;
    }
    .text{
        position: relative;
        color: white;
        z-index: 2;
        padding: 40px;
        text-align: center;
    }
    .text h1{
        margin: 0;
        padding: 0;
        font-size: 55px;
    }

    .header-image button{
        margin-top: 30px;
        border: 1px solid #04BF9D;
        border-radius: 30px;
        padding: 15px 25px;
        background-color: #04BF9D ;
        cursor: pointer;
    }

    .header-image button:hover{
        background-color: #038C7F;
        border-color: #038C7F;
    }

    .header-image button a{
        text-decoration: none;
        color: white;
        font-family: "Maven Pro", serif;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 1.1em;

    }

    /* Main */

    #about-1 {
        margin: 50px;
    }

    #about-1 .about-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #about-1 .about-text{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center; /* Vertikal zentrieren des Textes */
        font-size: 1.1em;
        padding: 0;

    }


    #about-1 .about-img{
        width: 80%;
        padding-top: 20px;
    }


    main hr{
        margin: 50px 50px;
    }

    #about-2 {
        margin: 50px;
    }


    #about-2 .about-text{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center; /* Vertikal zentrieren des Textes */
        font-size: 1.1em;
        padding: 0;

    }


    #about-2 .about-img{
       display: none;
    }

    /* Banner */
    .tipps-image {
        position: relative;
        width: 100%;
        height: 580px;
        display: flex;
        align-items: center; /* Vertikal zentrieren */
        text-align: center;
    }
    .tipps-image p {
        font-size: 1.1em;
        padding: 0 50px;
        font-weight: 500;
    }

    .tipps-text{
        position: relative;
        color: white;
        z-index: 2;
    }

    .tipps-text h1{
        margin: 0;
        padding: 0;
        font-size: 35px;
    }
    
    #expectation{
        display: block;
        margin-left: 50px;
        margin-right: 50px;
    }
    
    #expectation .expectation-text{
        text-align: left;
    }
    
    #expectation img{
        display: none;
    }

    #top-destinations .destinations {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 50px;
        margin: 0 30px;
    }

    #top-destinations #column1{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row: 1;
    }
    #top-destinations #column2{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row: 2;
    }

    #top-destinations #column3{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row: 3;
    }

    #top-destinations .destinations img{
        width: 100%;
        height: auto;
        border-radius: 20px;
        box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
    }
    #top-destinations .destinations .column{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between; /*Link auf gleicher Höhe*/

    }

    #back-to-top{
        text-align: center;
        margin-right: 0;
        margin-top: 50px;

    }
    #back-to-top a{
        font-size: 1.0em;
    }


}