@media (max-width: 768px){
    .menu-toggle{
        display: flex;
        z-index: 10;
    }

    .nav-list{
        display: none; /*Menü vom Desktop ausblenden*/
        flex-direction: column;
        background-color: #03A696;
        position: absolute;
        top: 49px;
        right: 0;
        left: 0;
        padding: 20px;
        z-index: 9;
    }

    .nav-list .name{
        display: none;
    }

    .nav-list li{
        text-align: center;
        margin-bottom: 10px;
    }

    .nav-list li:last-child{
        border: none;
    }

    .nav-list.active{
        display: block;
    }

    .header-image {
        position: relative;
        width: 100%;
        height: 600px;
        display: flex;
        align-items: center;
    }
    .header-image p {
        width: 100%;
        font-size: 1.3em;
        margin: 10px 0;
        line-height: 1.4;
    }
    .background-img {
        background-image: url(../../img/headerbild-reisetipps.jpg);
        filter: brightness(0.4);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 1;
    }
    .text{
        position: relative;
        color: white;
        z-index: 2;
        padding: 40px;
        text-align: center;
    }
    .text h1{
        margin: 0;
        padding: 0;
        font-size: 55px;
    }

    .header-image button{
        margin-top: 30px;
        border: 1px solid #04BF9D;
        border-radius: 30px;
        padding: 15px 25px;
        background-color: #04BF9D ;
        cursor: pointer;
    }

    .header-image button:hover{
        background-color: #038C7F;
        border-color: #038C7F;
    }

    .header-image button a{
        text-decoration: none;
        color: white;
        font-family: "Maven Pro", serif;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 1.1em;

    }

    /* Content ------------------------------------------------------------------------------------------*/


    .tipp-v1 .container{
        padding: 30px 50px 70px 30px;
    }

    .tipp-v1 .container .tipp-text{
        font-size: 17px;
        margin-left: 25px;

    }

    .tipp-v1 .container h1{
        font-size: 80px;
        margin: 0;

    }

    .tipp-v2 .container{
        padding: 0 50px 45px 50px;
    }


    .tipp-v2 .container .tipp-text{
        font-size: 17px;
        margin-left: 25px;

    }

    .tipp-v2 .container h1{
        font-size: 80px;
        margin: 0;

    }

    .tipp-v3 .container{
        padding: 110px 50px 110px 50px;


    }

    .tipp-v3 .container .tipp-text{
        font-size: 17px;
        margin-left: 25px;

    }

    .tipp-v3 .container h1{
        font-size: 80px;
        margin: 0;
    }

    #back-to-top{
        text-align: center;
        margin-right: 0;
        margin-top: 50px;

    }
    #back-to-top a{
        font-size: 1.0em;
    }
}